*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
.nav{
  width: 99vw;
  height: 10vh;
  background-color: #aaa;
}
.nav_primary{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.btn{
  padding: 10px;
  margin-right: 17px;
  border-radius: 50px;
  border: none;
  background-color: rgb(123, 128, 123);
  color: white;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0 3px 3px white;
}

.cards{
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,minmax(300px,500px));
  padding-top: 20px;
  background-color: #aaa;
}
.image img{
  width: 100px;
  height: 100px;
}
.card_primary{
  width: 30%;
  height: 180px;
  text-align: center;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 150px;
  background-color: white;
  cursor: pointer;
  transition: transform .3s;
}
.card_primary:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 10px black;
}

.search{
  background-color: white;
  color: black;
  border-radius: 60px;
  padding: 10px;
  border: 1px solid black;
}

@media screen and (max-width: 875px) {
  body{
    height: 100%;
    background-color: #aaa;
  }
  .cards{
    grid-template-columns: repeat(1,minmax(100px,550px));
  }
}